@using GoHiking.data

@{

    var user = Session["UserLogin"] as User;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/tiny-slider.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/flatpickr.min.css">
    <link rel="stylesheet" href="/css/glightbox.min.css">
    <link rel="stylesheet" href="/css/style.css?v=@DateTime.Now.Ticks">
    @RenderSection("MyCSS", required: false)



    <title>Sterial &mdash; Free Bootstrap 5 Website Template by Untree.co </title>
</head>
<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav mt-3">
        <div class="container">

            <div class="site-navigation">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <a href="/Home/Index" class="logo m-0 d-flex align-items-center text-decoration-none">
                            <img src="~/images/logo.png" style="width: 75px; height: 80px; margin-right: 10px;" />
                            <div class="logo-text">
                                <div class="logo-chinese">登友無界</div>
                                <div class="logo-english">GoHiking</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
                        <ul class="js-clone-nav text-center site-menu p-0 m-0">
                            <li class="active">
                                <a href="/Home/Upcoming">
                                    <div class="nav-text">
                                        <div class="nav-chinese">即將成團</div>
                                        <div class="nav-english">UPCOMING ACTIVITIES</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Activity">
                                    <div class="nav-text">
                                        <div class="nav-chinese">活動總覽</div>
                                        <div class="nav-english">ACTIVITY</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/Home/blog">
                                    <div class="nav-text">
                                        <div class="nav-chinese">關於我們</div>
                                        <div class="nav-english">ABOUT</div>
                                    </div>
                                </a>
                            </li>
                            @if (Session["UserLogin"] != null)
                            {
                                <li class="has-children">
                                    <a href="#">
                                        <div class="nav-text">
                                            <div class="nav-chinese">會員中心</div>
                                            <div class="nav-english">Account</div>
                                        </div>
                                    </a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="/Team/Index">
                                                <div class="nav-text">
                                                    <div class="nav-chinese" style="font-size: 0.9rem;">修改資料</div>
                                                    <div class="nav-english">Edit Profile</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Team/Trip">
                                                <div class="nav-text">
                                                    <div class="nav-chinese" style="font-size: 0.9rem;">我的活動</div>
                                                    <div class="nav-english">My Events</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (user != null && user.Permission == 1)
                            {
                                <li class="has-children">
                                    <a href="#">
                                        <div class="nav-text">
                                            <div class="nav-chinese">管理</div>
                                            <div class="nav-english">Manage</div>
                                        </div>
                                    </a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="/Admin/Dashboard">
                                                <div class="nav-text">
                                                    <div class="nav-chinese" style="font-size: 0.9rem;">統計儀表板</div>
                                                    <div class="nav-english">Dashboard</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/GroupManagement">
                                                <div class="nav-text">
                                                    <div class="nav-chinese" style="font-size: 0.9rem;">成團狀態</div>
                                                    <div class="nav-english">Groups</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Products/Index">
                                                <div class="nav-text">
                                                    <div class="nav-chinese" style="font-size: 0.9rem;">審核開團</div>
                                                    <div class="nav-english">Review</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/User/Index">
                                                <div class="nav-text">
                                                    <div class="nav-chinese" style="font-size: 0.9rem;">人員管理</div>
                                                    <div class="nav-english">Users</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">

                        <ul class="js-clone-nav text-center site-menu p-0 m-0">
                            @if (Session["UserLogin"] == null)
                            {
                                <li>
                                    <a href="/User/Login">
                                        <div class="nav-text">
                                            <div class="nav-chinese"><img src="~/images/login1.png" style="width: 32px; height: 30px;" /></div>
                                            <div class="nav-english">LOG IN</div>
                                        </div>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Team/Index">
                                        <div class="nav-text">
                                            <div class="nav-chinese"><img src="~/images/login1.png" style="width: 32px; height: 30px;" /></div>

                                            <div class="nav-english">Hi @( ((User)Session["UserLogin"]).UserName )</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/User/Logout">
                                        <div class="nav-text">
                                            <div class="nav-chinese">登出</div>
                                            <div class="nav-english">LOG OUT</div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>



    <div class="hero overlay">

        @RenderSection("HeroSection", required: false)

    </div>

    <div>
        @RenderBody()
    </div>

    <div class="site-footer">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>關於登友無界<span class="text-primary">.</span> </h3>
                        <p>登友無界 GoHiking 是專為登山愛好者打造的媒合平台，讓您輕鬆找到志同道合的山友，一起探索台灣美麗的山林步道。安全登山，快樂分享。</p>
                    </div> <!-- /.widget -->
                    <div class="widget">
                        <h3>社群媒體</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-2 ml-auto">
                    <div class="widget">
                        <h3>快速連結</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="/Home/Upcoming">即將成團</a></li>
                            <li><a href="/Home/Activity">活動總覽</a></li>
                            <li><a href="/Home/blog">關於我們</a></li>
                            <li><a href="/User/Login">會員登入</a></li>
                            <li><a href="#">登山安全</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-2">
                    <div class="widget">
                        <h3>登山資源</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="#">登山路線</a></li>
                            <li><a href="#">裝備指南</a></li>
                            <li><a href="#">天氣資訊</a></li>
                            <li><a href="#">登山須知</a></li>
                            <li><a href="#">緊急聯絡</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->


                <div class="col-lg-3">
                    <div class="widget">
                        <h3>聯絡我們</h3>
                        <address>台北市信義區松仁路100號</address>
                        <ul class="list-unstyled links mb-4">
                            <li><a href="tel://+886-2-2722-1234">+886-2-2722-1234</a></li>
                            <li><a href="tel://+886-912-345-678">+886-912-345-678</a></li>
                            <li><a href="mailto:info@gohiking.tw">info@gohiking.tw</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

            </div> <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <p class="mb-0">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. 登友無界 GoHiking. All Rights Reserved. &mdash; 讓每一步都充滿意義
                    </p>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.site-footer -->
        <!-- Preloader -->
        <div id="overlayer"></div>
        <div class="loader">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/rellax.js"></script>
    <script src="/js/flatpickr.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/custom.js"></script>
    @RenderSection("MyJS", false)
</body>
</html>
